version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/home/developer/host_dir
    environment:
      DISPLAY: ${DISPLAY}
      HOSTIP: ${HOSTIP}
    network_mode: "host"
    tty: true
    stdin_open: true
    deploy:
      resources:
        reservations:
          devices:
           - driver: nvidia
             capabilities: [gpu]
